<div class = "grid grid-cols-8 gap-4 content-center bg-red-500 drop-shadow-md rounded">
  <%# Link to the new articles page %>
  <div class = " p-5 col-start-7 col-end-9" >
    <ul class= "grid grid-cols-2 gap-2 justify-items-center">
      <li class = "font-mono text-center text-xs w-15 text-white">
        <%= link_to "About", about_index_path %>
      </li>
    </ul>  
  </div>
</div>
