<%= render 'shared/header' %>

<div>
  <h1 class="font-bold font-mono text-4xl p-5 text-center">About</h1>
  <h2 class = "font-mono p-2 text-xl text-center">Welcome to My Article Corner!</h2>
  <p class = "font-mono p-2 text-justify pl-28 pr-28">
    Hello there! I'm Johann, and I'm absolutely delighted to have you visit my article
    blog. Here, I'm on a mission to share my thoughts, experiences, and insights on
    anything I can think off. </p>
  <p class = "font-mono p-2 text-justify pl-28 pr-28">
    Through my articles, I aim to provide you with engaging, informative, and 
    thought-provoking content that will spark discussions, broaden perspectives, 
    and perhaps even inspire you to dive deeper into the world. 
  </p>
  <p class = "font-mono p-2 text-justify pl-28 pr-28">
    Feel free to explore the articles, leave your comments, and connect with me and 
    other like-minded readers. 

    Thank you for being a part of this community, and I look forward to embarking on 
    this enriching voyage together!
  </p>
</div>
